@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
select,
textarea {
  background-color: transparent;
  outline: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}

body {
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  background: rgb(237, 229, 229);
}

.mySwiper img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: fill;
}


@media only screen and (min-width: 768px) {
  .break-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.box-category {
  flex-direction: column;
}

.box-category .ant-checkbox+span {
  padding-inline-start: 0 !important;
  padding-inline-end: 0 !important;
}

.box-category .ant-checkbox-wrapper {
  line-height: 2.4 !important;

}

.text-name-product {
  text-align: center;
  margin: 0 auto;
  text-decoration: none;
  line-height: 1.4em;
  word-break: break-word;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  min-height: 2.8em;
  max-height: 2.8em;
  font-size: 0.8em;
  font-weight: 500;
  color: #333333;
}

.text-description-product {
  text-align: left;
  margin: 0 auto;
  text-decoration: none;
  line-height: 1.7em;
  word-break: break-word;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  max-height: 10em;

}

.skeleton-img-slide-product {
  display: flex !important;
  justify-self: center;
  align-items: center;
  width: 5rem !important;
  height: 5rem !important;
  padding: 1rem !important;
}

/* .skeleton-item-product {
  width: 100%;
} */


@media only screen and (max-width: 1440px) {
  .list-product-skeleton-4 {
    display: none !important;
  }
}

@media only screen and (max-width: 1023px) {
  .list-product-skeleton-3 {
    display: none !important;
  }
}

@media only screen and (max-width: 767px) {

  .list-product-skeleton-1,
  .list-product-skeleton-2 {
    display: none !important;
  }

  .skeleton-img-slide-product {
    width: 50px !important;
    height: 50px !important;
    padding: 1rem;
  }
}

.bodyapp-loading {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.loading-book {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%, );
  animation: spin 1s linear infinite;

}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
} */